.button {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  height: max-content;
  border-radius: 6px;
}

.button--color-default {
  --default-fg-color: #3f3f3f;
  --default-bg-color: #e0e0e0;
  --default-shadow-color: #33333333;
  --outline-fg-color: #3f3f3f;
  --outline-bg-color: #ffffff;
  --outline-border-color: #3f3f3f;
  --text-fg-color: #3f3f3f;
  --text-bg-color: #ffffff;
}

.button--color-default:hover,
.button--color-default:focus {
  --default-bg-color: #aeaeae;
  --outline-bg-color: #3f3f3f1a;
  --text-bg-color: #3f3f3f1a;
}

.button--color-primary {
  --default-fg-color: #ffffff;
  --default-bg-color: #2962ff;
  --default-shadow-color: #2962ff33;
  --outline-fg-color: #2962ff;
  --outline-bg-color: #ffffff;
  --outline-border-color: #2962ff;
  --text-fg-color: #2962ff;
  --text-bg-color: #ffffff;
}

.button--color-primary:hover,
.button--color-primary:focus {
  --default-bg-color: #0039cb;
  --outline-bg-color: #2962ff1a;
  --text-bg-color: #2962ff1a;
}

.button--color-secondary {
  --default-fg-color: #ffffff;
  --default-bg-color: #455a64;
  --default-shadow-color: #455a6433;
  --outline-fg-color: #455a64;
  --outline-bg-color: #ffffff;
  --outline-border-color: #455a64;
  --text-fg-color: #455a64;
  --text-bg-color: #ffffff;
}

.button--color-secondary:hover,
.button--color-secondary:focus {
  --default-bg-color: #1c313a;
  --outline-bg-color: #455a641a;
  --text-bg-color: #455a641a;
}

.button--color-danger {
  --default-fg-color: #ffffff;
  --default-bg-color: #d32f2f;
  --default-shadow-color: #d32f2f33;
  --outline-fg-color: #d32f2f;
  --outline-bg-color: #ffffff;
  --outline-border-color: #d32f2f;
  --text-fg-color: #d32f2f;
  --text-bg-color: #ffffff;
}

.button--color-danger:hover,
.button--color-danger:focus {
  --default-bg-color: #9a0007;
  --outline-bg-color: #d32f2f1a;
  --text-bg-color: #d32f2f1a;
}

.button--variant-default {
  color: var(--default-fg-color);
  background-color: var(--default-bg-color);
  border: none;
  box-shadow: 0px 2px 3px 0px var(--default-shadow-color);
}

.button--variant-outline {
  border: 1px solid var(--outline-border-color);
  background-color: var(--outline-bg-color);
  color: var(--outline-fg-color);
}

.button--variant-text {
  background-color: var(--text-bg-color);
  color: var(--text-fg-color);
  border: none;
}

.button--disable-shadow {
  box-shadow: none;
}

.button--disabled {
  --default-fg-color: #9f9f9f;
  --default-bg-color: #e0e0e0;
  --default-shadow-color: #9f9f9f33;
  --outline-fg-color: #9f9f9f;
  --outline-bg-color: #ffffff;
  --outline-border-color: #9f9f9f;
  --text-fg-color: #9f9f9f;
  --text-bg-color: #ffffff;

  cursor: not-allowed;
}

.button--size-sm,
.button--size-sm {
  padding: 6px 12px;
}

.button--size-md,
.button--size-md {
  padding: 8px 16px;
}

.button--size-lg,
.button--size-lg {
  padding: 11px 22px;
}
